---
layout: default
title: Index
---
{%- assign articles = site.articles | sort: "created" | reverse -%}
<div id="articles">
  {%- for article in articles -%}
    <div class="article" data-sources="{{ article.source }}" data-years="{{ article.created | split: '-' | first }}" data-authors="{{ article.author }}" data-categories="{{ article.categories | join: '|' }}">
      <h2>
        <a href="{{ article.url }}">{{ article.title | escape }}</a>  
      </h2>
      <div>
        <time>{{ article.created }}</time>
        {{ article.content | strip_html | truncate: 200 }}
      </div>
    </div>
  {% endfor %}
</div>
<script async src="{{ '/index.js' | relative_url }}"></script>
