---
---
body {
  font-family: sans-serif;
  margin: 2rem 5vw;

  header {
    text-align: center;

    div {
      color: #c00;
      font-size: 8vw;
      font-weight: bold;
      line-height: 0.8em;
    }

    span {
      color: #a55;
      font-size: 2.5vw;
    }
  }
  main {
    aside {
      ul {
        background-color: #eee;
        border-radius: 0.5rem;
        list-style-type: none;
        margin: 0;
        padding: 1rem;
        display: inline-block;

        li {
          a {
            margin-right: 0.5rem;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    div#articles {
      div.article {
        display: block;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        position: relative;

        &:before {
          color: #a55;
          content: "•";
          font-size: 2rem;
          left: 0;
          position: absolute;
          top: 0;
        }

        h2 {
          font-size: 1.2rem;
          font-weight: normal;
          margin: 0;
          padding: 0;
        }

        div {
          color: #999;
          margin: 0.5rem 0 0 1rem;
        
          time {
            color: #999;
            font-style: italic;
          }
        }
      }
    }

    div#filters {
      background-color: #eee;
      border-radius: 0.5rem;
      display: inline-block;
      margin-bottom: 1rem;
      padding: 1rem;

      div {
        font-weight: bold;
      }

      select {
        border-color: #ccc;
        display: block;
        font-family: sans-serif;
        font-size: 1em;
        margin: 1rem 0;
        width: 20rem;
        max-width: calc(90vw - 2rem);
      }
    }

    p {
      text-align: justify;
    }

    img {
      width: 100%;
    }
  }
}
