<!doctype html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.title }} - {{ site.subtitle }} - {{ page.title | escape }}">
    <title>{{ site.title }} - {{ page.title | escape }}</title>
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/stylesheet.css' | relative_url }}?{{ site.time | date: '%s' }}">
  </head>
  <body>
    <header>
      <div>{{ site.title }}</div>
      <span>{{ site.subtitle }}</span>
    </header>
    <main>
      <h1>{{ page.title | escape }}</h1>
      {{ content }}
    </main>
  </body>
</html>
